<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Racing Post Tipster</title>
        <meta name="description" content="Racing Post Tipster">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#303030">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#303030">
    </head>
    <body>
        <div id="root"></div>
        <script src="/assets/poly.js"></script>
    </body>
</html>