@import '../../styles/vars';

.speech-container {
	flex: 1 1 0;
	margin-bottom: 170px;
	min-height: 1px;
	align-content: flex-end;
	position: relative;

	@media (min-width: $big-width-screen) {
		// max-height: 600px;
		overflow: hidden;
		padding: 0 15px 170px 15px;
		// margin-bottom: 0;
		min-height: 100vh;
	}

	@media (max-height: $smaller-screen-size) {
		margin-bottom: 50px;
	}

	> div {
		flex: 1 1 0;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	&.smaller-margin {
		margin-bottom: 120px;

		@media (min-width: $big-width-screen) {
			// margin-bottom: 0;
		}
	}

	&.larger-margin {
		margin-bottom: 160px;

		@media (min-width: $big-width-screen) {
			// margin-bottom: 0;
		}
	}
}

