.table-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
}

.table-icon__true {
    background-color: #3ace3a;
}

.table-icon__false {
    border: 2px solid #b1b1b1;
}
