.auth__container {
	height: 100vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	img {
		margin-bottom: 40px;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 1.8em;
		margin-bottom: 20px;
	}
}

.auth__details {
	border: 1px solid white;
	padding: 20px 10px 10px 10px;
	margin-top: 60px;
	border-radius: 5px;

	h3 {
		font-size: 1.4em;
		margin-bottom: 10px;
	}
}

@keyframes flash {
	0% {
		background: black;
	}
	50% {
		background: #fcd000;
	}
	100% {
		background: black;
	}
}

.auth__warning-text {
	background: #fcd000;
	animation: flash 3s linear infinite;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 5px;
	text-transform: uppercase;
	color: black;
}
