@import '../../styles/vars';

@mixin text-shadow-for-white-bgs() {
    text-shadow: 0px 0px 5px rgba(110, 110, 110, 1);
}

.main-info-container {
    text-align: center;
    color: white;
    margin-bottom: 15px;

    @media (min-width: $big-width-screen) {
        width: 50%;
    }

    .main-info__time {
        font-size: 5em;
        margin-bottom: -10px;
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);

        @media (min-width: $big-width-screen) {
            margin-bottom: 5px;
        }

        @media (max-height: $smaller-screen-size) {
            display: inline-block;
            font-size: 3em;
            padding-right: 30px;
            margin-bottom: 10px;
        }
    }

    .main-info__location {
        font-size: 4.3em;
        margin-bottom: -5px;
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);

        @media (min-width: $big-width-screen) {
            margin-bottom: 10px;
        }

        @media (max-height: $smaller-screen-size) {
            display: inline-block;
            font-size: 3em;
            margin-bottom: 10px;
        }
    }

    .main-info__info {
        font-size: 2.2em;
        line-height: 1.3em;
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
    }

    .main-info__gh {
        font-size: 2.6em;
    }

    .main-info__class {
        white-space: nowrap;
    }

    .main-info__going {
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.5);
        display: block;
        white-space: nowrap;

        @media (max-height: $smaller-screen-size) {
            display: inline;
            margin-left: 30px;
        }
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.main-info__finished {
    animation: popOut 0.6s 1s ease-in;
    animation-fill-mode: forwards;
}
