@import '../../styles/vars';

@mixin text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heightShrink {
    0% {
        max-height: 800px;
    }
    100% {
        max-height: 300px;
    }
}

@keyframes heightGrow {
    0% {
        max-height: 300px;
    }
    100% {
        max-height: 800px;
    }
}

@keyframes heightShrinkSmall {
    0% {
        max-height: 600px;
    }
    100% {
        max-height: 200px;
    }
}

.racecard {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.4s 0.2s ease-in-out;
    align-self: flex-end;
    // margin-bottom: 50px;

    @media (min-width: $big-width-screen) {
        width: 50%;
        margin-right: 40px;
    }

    .racecard__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #565656;
        color: $gray;
        text-transform: uppercase;
    }

    .racecard__main {
        position: relative;
        max-height: 840px; // todo - better solution later
        max-height: 40vh;
        overflow: scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        @media (min-width: $big-width-screen) {
            max-height: 840px; // todo - better solution later
            max-height: 47vh;
        }

        &.racecard__main--is-active {
            .racecard__section {
                opacity: 0.4;
            }
        }
    }

    .racecard__main--not-scrollable {
        animation: heightGrow 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    .racecard__main--scrollable {
        animation: heightShrink 0.5s ease-in-out;
        animation-fill-mode: forwards;

        @media (max-height: $smaller-screen-size) {
            animation: heightShrinkSmall 0.5s ease-in-out;
            animation-fill-mode: forwards;
        }

        @media (min-width: $big-width-screen) {
            animation: none;
        }
    }

    .racecard__section {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: center;
        border-bottom: 1px solid $gray;
    }

    .racecard__section--is-active {
        opacity: 1 !important;
    }

    .racecard_section--freeze {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .racecard__extra-padding {
        margin-bottom: 50px;

        @media (max-height: $smaller-screen-size) {
            margin-bottom: 16px;
        }
    }

    .racecard__scroll-section {
        max-height: 500px;
        overflow: scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        @media (min-width: $big-width-screen) {
            max-height: 200px;
        }
    }

    @for $i from 1 through 6 {
        .racecard__scroll-shadow-#{$i} {
            &:before {
                top: #{$i * 55}px;
                content: '';
                position: absolute;
                width: 100%;
                height: 10px;
                box-shadow: inset 0px 5px 15px -5px rgba(0, 0, 0, 0.75);

                @media (min-width: $big-width-screen) {
                    top: #{$i * 48}px;
                }
            }
        }
    }

    .racecard__section--not-running {
        > * {
            opacity: 0.2;
        }
    }

    .racecard__header,
    .racecard__section {
        padding: 4px 6px;
    }
}

// Table Body styles:

.racecard-item__num {
    font-size: 1.8em;
    font-weight: 700;
    padding-left: 9px;
}

.racecard-item__silk {
    img {
        width: 50px;
        height: auto;

        @media (max-height: $smaller-screen-size) {
            width: 30px;
        }
    }
}

.racecard-item__form {
    font-size: 1.3em;
    padding-right: 10px;
    @include text-ellipsis;
}

.racecard-item__horse-name {
    @include text-ellipsis;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 20px;
}

.racecard-item__jockey-and-trainer {
    @include text-ellipsis;
    padding-right: 10px;
}

.racecard-item__jockey,
.racecard-item__trainer {
    @include text-ellipsis;
}

.racecard-item__jockey {
    margin-bottom: 5px;

    @media (max-height: $smaller-screen-size) {
        margin-bottom: 2px;
    }
}

.racecard-item__label {
    color: #575757;
    font-weight: 700;
    width: 20px;
    display: inline-block;
}

// Table Layout:
.racecard-cell {
    // STAP THIS

    &__num {
        flex: 1 0 8%;
        padding-left: 9px;
    }

    &__silk {
        flex: 1 0 9%;
    }

    &__form {
        flex: 1 0 11%;
    }

    &__horse {
        flex: 0 1 100%;
        min-width: 375px;

        @media (max-height: $smaller-screen-size) {
            min-width: 300px;
        }
    }

    &__jockey-and-trainer {
        flex: 0 1 70%;
    }

    &__odds {
        flex: 1 0 10%;
        min-width: 115px;
        text-align: center;
    }
}
