@import '../../styles/vars';

.ant-menu-horizontal {
	width: 100%;
}

.top-nav__logo {
	width: 120px;
	margin-bottom: -3px; // fix this later
}

.top-nav__container {
	border-bottom: 1px solid @border-color;
	background: @white;

	.anticon {
		font-size: 17px;
		position: relative;
		top: 2px;
		margin-right: 12px;
		color: @dark-blue;
	}
	
	.ant-menu-horizontal {
		border-bottom: none;
	}

	li, a {
		font-family: @second-font;
		font-weight: 700;
		font-size: 14px;
		color: @light-blue !important;
	}
}
