@import '../../styles/vars';

@keyframes horses {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes greyhounds {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -429px;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes move {
    0% {
        left: -20%;
    }
    100% {
        left: 76.5%;
    }
}

@keyframes move_gh {
    0% {
        left: -20%;
    }
    100% {
        left: 86%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.race-container {
    width: calc(100% + 42px);
    height: 450px;
    background-size: cover;
    background-position: right center;
    overflow: hidden;
    position: relative;
    top: -20px;
    left: -21px;
    margin-bottom: -40px;
    overflow: hidden;
    border-radius: 16px;

    @media (max-height: $smaller-screen-size) {
        height: calc(250px + 20px);
        width: calc(100% + 20px);
        top: -10px;
        left: -10px;
        margin-bottom: -20px;
    }

    @media (min-width: $big-width-screen) {
        height: 400px;
        width: calc(100% + 30px);
        top: -15px;
        left: -15px;
        background-position-x: right;
    }

    .race-video__arrow {
        position: absolute;
        bottom: 10px;
        right: -10px;
        width: 40px;
        height: 40px;
        background: red;
    }

    .race-video-flash {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 33;
        opacity: 0;
        animation: flash 0.15s 3.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    .horse-container {
        position: absolute;
        height: calc(100% - 210px);
        width: 175%;
        display: inline-block;
        top: 0;
        right: 0;
        margin-top: 122px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.is-grayhounds {
            margin-top: 75px;
            height: calc(100% - 145px);

            @media (min-width: $big-width-screen) {
                padding-right: 42px;
            }
        }

        @media (max-height: $smaller-screen-size) {
            margin-top: 40px;
            width: 130%;
            height: calc(100% - 77px);
        }

        @media (min-width: $big-width-screen) {
            width: 170%;
            height: calc(100% - 180px);
            margin-top: 87px;
        }
    }

    .item-container {
        width: 90px;
        height: 0;
        position: relative;
        background-size: cover;

        img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .race-video-logo {
        position: absolute;
        top: 24%;
        right: 36%;
        height: 20px;
        width: 173px;

        @media (max-height: $smaller-screen-size) {
            top: 9%;
            right: 24%;
        }

        @media (min-width: $big-width-screen) {
            right: 29%;
        }
    }

    .item-label {
        animation: fadeIn 0.2s 4s ease-in;
        animation-fill-mode: forwards;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 11px;
        overflow: hidden;
        display: inline-block;
        padding: 4px 9px;
        font-size: 0.8em;
        opacity: 0;
        white-space: nowrap;
        position: absolute;
        top: 13px;

        &.winner {
            background: white;
            color: black;
        }
    }

    .horse-icon {
        width: 119px;
        height: 95px;
        background-size: auto 100%;
        animation: horses 0.35s steps(11) 10 forwards;
        background-position: 100%;
        position: absolute;
    }

    .gh-icon {
        width: 143px;
        height: 70px;
        animation: greyhounds 0.35s steps(3) 7 forwards;
        position: absolute;
    }
}
