@import './styles/normalize';
@import './styles/vars';
@import './styles/grid';
@import './styles/global';
@import './styles/forms';

.consoleErrors {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 300px;
    width: 100%;
    overflow: scroll;
    left: 0;
    z-index: 213234;
}
