.dev-tools {
    position: fixed;
    top: 110px;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
    font-size: 1.5em;
    padding: 15px;

    a {
        cursor: pointer;
        margin-bottom: 5px;
        font-weight: bold;
    }
}
