@import '../../styles/vars';

$font-size: 1.6em;

@mixin text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.racecard {
    .gh-racecard__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #565656;
        color: $gray;
        text-transform: uppercase;
    }

    .gh-racecard__main {
        position: relative;
        max-height: 840px; // todo - better solution later
        max-height: 40vh;
        overflow: scroll;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        margin-bottom: 50px;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        @media (min-width: $big-width-screen) {
            max-height: 840px; // todo - better solution later
            max-height: 47vh;
        }

        &.gh-racecard__main--is-active {
            .gh-racecard__section {
                opacity: 0.4;
            }
        }
    }

    .gh-racecard__section {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: center;
        border-bottom: 1px solid $gray;
    }

    .gh-racecard__section--is-active {
        opacity: 1 !important;
    }

    .gh-racecard__section--not-running {
        > * {
            opacity: 0.2;
        }
    }

    .gh-racecard__header {
        padding: 10px 8px;
    }

    .gh-racecard__section {
        padding: 11px 8px;

        @media (min-width: $big-width-screen) {
            padding: 1px 8px;
        }
    }

    .gh-racecard__trap-stats {
        padding: 14px 8px;
    }
}

// Table Body styles:

.gh-racecard-item__num {
    font-size: 1.8em;
    font-weight: 700;
    padding-left: 9px;
    padding-top: 8px;

    @media (min-width: $big-width-screen) {
        padding-top: 8px;
    }
}

.gh-racecard-item__form {
    font-size: 1.5em;
    padding-right: 10px;
    @include text-ellipsis;
}

.gh-racecard-item__horse-name {
    @include text-ellipsis;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 20px;

    &.is-non-runner {
        color: gray;
    }

    .is-reserve {
        color: red;
        font-size: 0.8em;
    }
}

.gh-racecard-item__trainer {
    @include text-ellipsis;
    padding-right: 10px;
    font-size: 1.5em;
}

.gh-racecard-item__t-grey {
    color: #575757;
}

.gh-racecard-item__speed {
    font-size: 2em;
    text-align: center;
    margin-right: 5px;
}

.gh-racecard-cell-arrow__odds {
    flex: 1 0 6%;
    padding: 3px 8px;
    white-space: nowrap;
    max-width: 240px;

    .odds-box {
        max-width: 100px;
        font-size: 1.1em;
    }

    span {
        text-transform: uppercase;
        font-size: 1.5em;
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding-bottom: 5px;
        font-weight: bold;
    }
}

.gh-racecard-cell-arrow__trap {
    margin-right: 20px;
    margin-left: 10px;

    img {
        width: 60px;
        height: auto;
        display: block;
    }
}

.gh-racecard-cell-arrow__container {
    flex: 1%;
    position: relative;
    height: 55px;
    overflow: hidden;
    margin-right: 10px;
}

@keyframes growWidth {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 25px);
    }
}

.gh-racecard-cell-arrow__record {
    font-size: $font-size;
    text-align: right;
    max-width: 150px;
    min-width: 80px;

    .gh-racecard-cell__bottom-text {
        color: $arrow-dark-blue;
    }

    .gh-racecard-cell__top-text {
        color: $arrow-light-blue;
    }

    .gh-racecard-cell__percentage-text {
        color: $arrow-dark-blue;
        font-size: 1.7em;
    }
}

.gh-racecard-cell__arrow {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 2.5s linear;
    // margin-left: 2%;
    left: -15px;
}

.gh-racecard-cell__arrow::after {
    content: '';
    position: absolute;
    top: 0;
    right: -55px;
    height: 0;
    width: 56px;
    border-width: 28px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.gh-racecard-cell__arrow-blue {
    background-color: $arrow-dark-blue;
    z-index: 100;
    animation: growWidth 1.6s 0.2s ease-in;
    animation-fill-mode: forwards;
}

.gh-racecard-cell__arrow-blue::after {
    border-left-color: $arrow-dark-blue;
}

.gh-racecard-cell__arrow-light-blue {
    background-color: $arrow-light-blue;
    z-index: 50;
    animation: growWidth 1.2s ease-in;
    animation-fill-mode: forwards;
}

.gh-racecard-cell__arrow-light-blue:after {
    border-left-color: $arrow-light-blue;
}

.gh-racecard-cell__num {
    flex: 1 0 8%;
    padding-left: 10px;
    margin-right: 5px;
}

.gh-racecard-cell__silk {
    flex: 1 0 9%;
}

.gh-racecard-cell__form {
    flex: 1 0 11%;
}

.gh-racecard-cell__horse {
    flex: 0 1 100%;
    min-width: 370px;

    @media (max-height: $smaller-screen-size) {
        min-width: 300px;
    }
}

.gh-racecard-cell__trainer {
    flex: 0 1 60%;
}

.gh-racecard-cell__odds {
    flex: 1 0 10%;
    min-width: 115px;
    margin-right: 9px;
    text-align: center;
}

.gh-racecard-cell__speed {
    flex: 0 1 35%;
    text-align: center;
    padding-right: 13px;
}

.gh-racecard__trap-no {
    width: 80%;
}

.gh-racecard__header-other {
    justify-content: center;
    padding: 10px;
    font-size: 1.5em;
}
