@import '../../styles/vars';

.odds-box {
    background: $red;
    color: white;
    border-radius: 7px;
    font-size: 1.9em;
    text-align: center;
    min-width: 110px;
    font-weight: 700;
    padding: 5px 0;

    @media (max-height: $smaller-screen-size) {
        padding: 2px 15px;
        min-width: 60px;
    }
}
