@import '../../styles/vars';

.mascot-container {
	width: 23%;
	position: relative;
	min-height: 1px;
	max-width: 250px;

	@media (max-height: $smaller-screen-size) {
		max-width: 200px;
	}

	img {
		width: 100%;
		height: auto;
		position: absolute;
		bottom: -35px;
	}
}
