// .login-container {

// 	.login-container__holder {
// 		width: 100%;
// 		max-width: 400px;
// 		margin: 0 auto;
// 		text-align: center;
// 		margin-top: 100px;
// 	}
// }

.login-form__container {
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.login-form__body {
  max-width: 300px;
}

.login-form__forgot {
  float: right;
}

.login-form__button {
  width: 100%;
}


.login__logo {
	max-width: 100%;
	margin-bottom: 40px;
}