.table__body-container.table__body-small .ant-row-flex {
    height: 51px;
    border-bottom: 1px solid #e9e9e9;
}
.table__body-container.table__body-small .ant-row-flex:last-child {
    border: none;
}

.table__body-small .ant-row-flex p:first-child {
    font-weight: 700;
    color: #778998
}