@import '../../styles/vars';

.main-prompt {
    overflow: hidden;

    h1 {
        color: $red;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 15px;
        display: inline-block;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 15px;

        b {
            font-weight: 700;
            color: $red;
        }

        @media (max-height: $smaller-screen-size) {
        }
    }

    .prompt-image-container {
        margin-right: 20px;
        text-align: center;
        float: left;
        margin-bottom: 20px;
        height: 200px;
        width: 200px;

        @media (max-height: $smaller-screen-size) {
            margin-bottom: 5px;
            margin-right: 10px;
        }

        @media (min-width: $big-width-screen) {
            margin-bottom: 10px;
            height: 100px;
            width: 100px;
        }

        .prompt-image {
            width: 200px;
            height: 200px;
            background-size: cover;
            overflow: hidden;
            border-radius: 16px;
            border: 1px solid gray;

            @media (max-height: $smaller-screen-size) {
                width: 100px;
                height: 100px;
            }

            @media (min-width: $big-width-screen) {
                width: 100px;
                height: 100px;
            }
        }

        img {
            height: 100%;
        }
    }

    .main-prompt__top-info {
        overflow: hidden;
    }

    .prompt-strike {
        text-align: center;
        float: right;
        width: 130px;
        position: relative;

        @media (min-width: $big-width-screen) {
            width: 95px;
        }

        @media (max-height: $smaller-screen-size) {
            width: 90px;
        }

        h1 {
            margin-bottom: 0;
            font-size: 2em;
            top: 5px;
            position: relative;
        }

        span {
            font-size: 0.7em;
            text-transform: uppercase;
            color: #e12a20;
            display: block;
            width: 100%;

            @media (min-width: $big-width-screen) {
                width: 95px;
                left: 0;
            }
        }
    }

    .main-prompt__footer {
        clear: both;
        display: flex;
        align-items: center;
        background: $gray;
        padding: 15px;
        border-radius: 16px;
        margin-top: 15px;
        position: relative;

        @media (max-height: $smaller-screen-size) {
            padding: 5px 10px;
        }

        @media (min-width: $big-width-screen) {
            padding: 10px;
        }

        .main-prompt__race-no {
            font-size: 1.7em;
            margin-right: 15px;
            float: left;
            display: inline-block;
            font-weight: 600;
        }

        .main-prompt__footer-silk {
            margin-right: 15px;
            float: left;
            display: inline-block;

            img {
                width: 60px;
                height: auto;
                display: block;

                @media (max-height: $smaller-screen-size) {
                    width: 40px;
                }
            }
        }

        .main-prompt__footer-horse {
            margin-right: 20px;
            float: left;
            display: inline-block;

            h1 {
                color: $black;
                margin-bottom: 0;
                font-size: 1.4em;
                display: block;
            }
        }

        .main-prompt__odds {
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 15px;

            @media (max-height: $smaller-screen-size) {
                right: 20px;
            }

            .odds-box {
                font-size: 1.5em;
            }
        }
    }

    .prompt-graph {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 10px;

        .prompt-graph__tick {
            float: left;
            position: relative;
            top: 2px;

            &:after {
                content: '\002714';
                font-size: 1.1em;
                margin-right: 10px;
                position: relative;
                top: 0;
            }
        }

        .prompt-graph__row {
            padding-right: 20px;
            padding-left: 10px;
            padding-bottom: 5px;
            height: 40px;

            @media (min-width: $big-width-screen) {
                height: 30px;
                padding-bottom: 0;
            }

            @media (max-height: $smaller-screen-size) {
                height: 25px;
                padding-bottom: 0;
            }

            &:nth-child(odd) {
                background-color: $gray;
            }
        }

        p {
            display: block;
            float: left;
            margin-right: 10px;
            margin-bottom: 0;
            margin-top: 1px;
            width: 200px;
            font-size: 1em;
        }

        .prompt-graph__checks {
            display: inline-block;
        }
    }

    .rp-prompt-icon {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 3em;
        font-weight: 600;

        @media (max-height: $smaller-screen-size) {
            width: 80px;
            height: 80px;
        }

        @media (min-width: $big-width-screen) {
            width: 90px;
            height: 90px;
            font-size: 2em;
        }
    }

    .rp-prompt-icon-lb {
        @extend .rp-prompt-icon;
        font-size: 2em;
        top: 35px;

        @media (min-width: $big-width-screen) {
            top: 25px;
        }

        span {
            font-size: 0.6em;
            margin-left: 5px;
            margin-bottom: -10px;
        }
    }

    .prompt-rating {
        float: left;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        p {
            display: inline-block;
        }

        .prompt-rating__circle {
            background-color: $black;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            font-size: 1.7em;
            margin-left: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.main-prompt__trap-no {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 0;
    }
}

.main-promp__proggress-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;

    p {
        margin-right: 30px;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.main-prompt__proggress-bar {
    background-color: $gray;
    height: 40px;
    padding: 5px;
    width: 490px;
    border-radius: 25px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2) inset;
    position: relative;
    display: inline-block;

    span {
        display: inline-block;
        height: 100%;
        border-radius: 25px;
        transition: width 0.4s ease-in-out;
        background-color: #e4b80d;
        position: absolute;
        left: 0;
        top: 0;
        background-size: 50px 50px;

        background-image: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent
        );

        animation: animate-stripes 3s linear infinite;
    }
}
