@import '../../styles/vars';

.main-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 1 1 0;
    align-content: flex-end;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(transparent 0, white 70px);
    padding-left: 15px;
    // clip-path: inset(1px 0px 0px 0px); // stop weird 1line px bug from mask image

    @media (min-width: $big-width-screen) {
        align-items: flex-end;
        justify-content: space-between;
        -webkit-mask-image: none;
        overflow: visible;
    }
}

.main-container__finished {
    animation: slideDown 0.6s 1.4s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1800px);
    }
}
