@import '../../styles/vars';

.next-match-container {
	margin-left: auto;
	color: white;
	display: inline-block;
	text-align: right;

	.next-match-container_circle-container {
		background-color: white;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		float: right;
		display: block;
	}

	.next-match-container_text-container {
		padding-right: 100px;
		padding-top: 5px;

		@media (max-height: $smaller-screen-size) {
			padding-top: 2px;
		}

		p {
			margin-bottom: 2px;
		}

		h1 {
			font-size: 1.8em;
		}
	}
}

.next-match__circle {
	float: right;
	margin-left: 20px;
}

.chart-container {
	width: 70px;
	height: 70px;
	float: right;
	position: relative;

	@media (max-height: $smaller-screen-size) {
		width: 40px;
		height: 40px;
	}

	@media (min-width: $big-width-screen) {
		width: 60px;
		height: 60px;
	}

	.chart-container-mask {
		background: black;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		position: absolute;
		left: 5px;
		top: 5px;
		border-radius: 50%;
	}

	.char-container-timer {
		display: flex;
		justify-content: space-around;
		font-size: 1.5em;
		position: relative;
		top: 17px;

		@media (max-height: $smaller-screen-size) {
			top: 9px;
			font-size: 1.2em;
		}
	}
}
