.show-more {
    text-align: right;
    padding: 10px;
}


.main__body-container span .title-bar {
    padding-left: 15px;
    padding-right: 15px;
}

.filter__select-box {
    width: 70%;
    margin-left: 5px;
}

.table__body-small {
    margin-top: 10px;
    min-height: 306px;
}