@import '../../styles/vars';

.inline-logo {
    width: 190px;

    &.post-picks {
        width: 280px;
        top: 3px;
        position: relative;
    }

    @media (min-width: $big-width-screen) {
        width: 130px;
    }
} // put this here as its used by lots of things

.home-container {
    background-size: cover;
    background-position: bottom center;
    padding: 20px 50px 50px 50px;
    padding-left: 35px;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    @media (max-height: $smaller-screen-size) {
        padding: 15px;
        padding-bottom: 0;
    }

    @media (min-width: $big-width-screen) {
        padding: 30px;
        padding-bottom: 0;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.fade-in-now {
    transform: scale(0);
    animation: scaleIn 0.4s 0.3s ease-in;
    animation-fill-mode: forwards;
}

.fade-in-now-delay {
    transform: scale(0);
    animation: scaleIn 0.4s 1.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-in-up {
    transform: translateY(1000px);
    animation: slideIn 0.7s 0.6s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideInVerdict {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-in-verdict {
    transform: translateY(100px);
    animation: slideInVerdict 0.4s 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slidedown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1000px);
    }
}

.slide-in-down {
    transform: translateY(1000px);
    animation: slidedown 0.6s 0.3s ease-in;
    animation-fill-mode: forwards;
}
