/* http://patorjk.com/software/taag/#p=display&f=Big&t=text */

@import './colors';

//////////////////////////////////////////////////////////////////////////
//            _
//           | |
//   ___ ___ | | ___  _ __ ___
//  / __/ _ \| |/ _ \| '__/ __|
// | (_| (_) | | (_) | |  \__ \
//  \___\___/|_|\___/|_|  |___/
//
//////////////////////////////////////////////////////////////////////////

@blue-green: #57aaa9;
@green: #5CB26A;
@red: #e12a20;
@black: #262626;
@white: #ffffff;
@dark-blue: #37424a;
@light-gray: #f4f7fa;
@blue: #0f86dd;
@light-blue: #778998;
@border-color: #dcdee0;


//////////////////////////////////////////////////////////////////////////
//      _
//     (_)
//  ___ _ _______  ___
// / __| |_  / _ \/ __|
// \__ \ |/ /  __/\__ \
// |___/_/___\___||___/
//
//////////////////////////////////////////////////////////////////////////

@small-padding: 10px;
@normal-padding: 20px;
@large-padding: 30px;

// this makes 1 rem = 10px, 1.2 rem = 12px

@base-font-size: 62.5%;

@small-font: 1rem;
@normal-font: 1.4rem;
@large-font: 1.8rem;
@xl-font: 2.4rem;


//////////////////////////////////////////////////////////////////////////
//   __            _
//  / _|          | |
// | |_ ___  _ __ | |_ ___
// |  _/ _ \| '_ \| __/ __|
// | || (_) | | | | |_\__ \
// |_| \___/|_| |_|\__|___/
//
//////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@main-font: 'Roboto', sans-serif;
@second-font: 'Roboto Condensed', sans-serif;

h1 {
	margin-bottom: @small-padding;
	font-weight: 400;
	color: @light-blue;
}