@import '../../styles/vars';

.staticFooter-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    min-height: 75px;
    max-width: 100%;
    overflow: hidden;

    @media (max-height: $smaller-screen-size) {
        padding: 10px;
        min-height: 40px;
    }

    p {
        color: white;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        flex: 1 1 auto;
        max-width: 60%;

        @media (max-height: $smaller-screen-size) {
            flex: 1 1 100%;
            max-width: initial;
        }
    }

    .staticFooter-container_logo {
        text-align: center;
        flex: 1 1 40%;
        padding: 0 20px;

        @media (min-width: $big-width-screen) {
            flex: 1 1 auto;
        }

        img {
            width: 100%;
            height: auto;

            @media (max-height: $smaller-screen-size) {
                width: 40%;
            }

            @media (min-width: $big-width-screen) {
                width: 35%;
            }
        }
    }

    .staticFooter-id_text {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: #6b6b6b;
        font-size: 13px;
    }
}
