@import '../../styles/vars';

.post-picks__container {
}

.post-pick__logo {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;

    img {
        margin-right: 5px;
        width: 360px;
    }
}

.post-picks__cells {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 30px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.6em;

    @media (min-width: $big-width-screen) {
        padding: 0;
    }

    > div {
        width: 33%;
    }

    h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 220px;
        transition: all 0.3s 0.8s ease-in-out;
    }
}

.post-picks__slider {
    max-height: 170px;
    width: 217px;
    overflow: hidden;
    margin: 10px 0;

    @media (min-width: $big-width-screen) {
        width: auto;
    }
}

.post-picks__slider-inner {
    background-image: url('/assets/icons/number_sprite.png');
    height: 1141px;
    background-repeat: repeat-y;
    background-position-x: center;
    transition: all 0.8s ease-in-out;

    .post-picks__big-bg {
        background-image: url('/assets/icons/number_sprite_big.png');
        height: 1523px;
    }
}
