.master-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.no-races__container {
	text-align: center;
	background: white;
	margin-top: auto;
	padding: 60px;
	padding-bottom: 100px;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;

	h1 {
		font-size: 4em;
		margin-top: 50px;
		font-weight: 600;
	}
}

.hz-warning-message {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #ffd900;
	width: 100%;
	z-index: 10;
	font-size: 1.8em;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}
