@import '../../styles/vars';

.header-container {
	width: 100vw;
	background: black;
	display: flex;
	align-items: center;
	padding: 10px;
	min-height: 90px;

	@media (max-height: $smaller-screen-size) {
		min-height: 55px;
	}

	.header-logo {
		width: 250px;
		float: left;
		color: black;

		@media (max-height: $smaller-screen-size) {
			width: 220px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

