<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Tipster - Backoffice</title>
        <meta name="author" content="name">
        <meta name="description" content="Tipster - Backoffice">
        <link rel="shortcut icon" href="favicon.ico" type="icon.icon">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>