@import '../../styles/vars';

.header__container {
	background: @dark-blue;

	.anticon {
		font-size: 17px;
		position: relative;
		top: 2px;
		margin-right: 12px;
		color: @white;
	}

	.container {
		padding: @normal-padding;
		align-items: center;

		a {
			color: @white;
			text-transform: capitalize;
		}

		h1 {
			display: inline;
			font-weight: 100;
			font-style: italic;
			margin-left: 10px;
			font-size: 21px;
		}
	}

	.header__logo {
		max-width: 150px;
	}
}

.gravatar-link {
	display: flex;
	align-items: center;
}

.gravatar-image {
	margin-right: 10px;
}
