@import '../../node_modules/antd/dist/antd.less';

@import './styles/custom.less';
@import './styles/icons.less';
// antdesign styles/overrides need to be
// imported first so that the correct order
// of style tags is maintained in our html

@import './styles/vars';

.gutter-box {
    background: @dark-blue;
    padding: 10px;
    min-height: 150px;
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.main__body-container {
    background: @white;
    border: 1px solid @border-color;
    padding: 10px;
}

.table__body-container {
    background: @white;
    border: 1px solid @border-color;
    padding-left: 15px;
    padding-right: 15px;
}

/////////////////////////////////////////////
//
// globals
//
/////////////////////////////////////////////

.tool-tip {
    border-bottom: 1px dotted @dark-blue;
    cursor: help;
}

.table-link {
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #d9d9d9;
}

.margin-bottom__small {
    margin-bottom: @small-padding;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}

/////////////////////////////////////////////
//
// Ant overwrites
//
/////////////////////////////////////////////

.ant-table-thead > tr > th {
    border-bottom: 1px solid @border-color;
    font-weight: 700;
}

.ant-table-pagination {
    float: none;
    text-align: center;
}

.ant-menu {
    animation: none;
}

.table-text__overflow {
    text-overflow: ellipsis;
}

.line-chart__loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    font-size: 5em;
    color: #0f86dd;
}
