label {
	display: block;
	margin-bottom: 15px;
}

input {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	min-width: 300px;
}

button {
	border: 1px solid grey;
	padding: 5px 15px;
	background: white;
}
