body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;
	line-height: 1.2;
	color: $black;
	font-weight: 600;

	@media (min-width: $big-width-screen) {
		font-size: 12px !important;
	}

	@media (max-height: $smaller-screen-size) {
		font-size: 10px !important;
	}
}

strong {
	font-weight: 600;
}

em {
	color: $red;
}

::-webkit-scrollbar { 
    display: none; 
}

* { 
	-webkit-font-smoothing: antialiased;
}
