
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

// @mixin row($no) {
// 	$width: (100 / $no);
// 	$margin: 1 + ($no / 100);

// 	width: calc(#{$width}% - 1rem);
// 	float: left;
// 	margin-right: #{$margin}rem;
// 	margin-bottom: #{$margin}rem;

//   &:nth-child(#{$no}n) {
//     margin-right: 0;
//   }
// }

// @for $i from 1 through 12 {

//     .col-#{$i} {
//         overflow: hidden;

//         > div {
//             $width: (100 / $i);
//             $margin: 1 + ((1 / $i) + ((1 / ($i - 1)) / $i));

//             width: $width - 1#{'%'};
//             float: left;
//             margin-right: $margin#{'%'};
//             margin-bottom: 10px;
//             height: 30px;

//             &:nth-of-type(#{$i}n) {
//                 margin-right: 0;
//             }
//         }
//     }
// }

// .center-col {
// 	margin: 0 auto;
// }