@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
			url('fonts/OpenSans-Regular.woff') format('woff'),
			url('fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Semibold.woff2') format('woff2'),
			url('fonts/OpenSans-Semibold.woff') format('woff'),
			url('fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

a {
	color: black;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 30px;
	margin-top:  30px;
	margin-bottom: 30px;
	font-weight: 600;
	color: black;
	text-align: center;
}

