$blue-green: #57aaa9;
$green: #5cb26a;
$red: #e12a20;
$black: #262626;
$dark-gray: #656565;
$gray: #e6e4e4;
$arrow-dark-blue: #1e63aa;
$arrow-light-blue: #10bbfb;

$smaller-screen-size: 1060px;

$big-width-screen: 1400px;
