@import '../../styles/vars';

@keyframes moveIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.height-overflow-fix {
    height: 0;
    overflow: hidden;
}

.height-animation-container {
    transition: all 0.5s ease-in-out;
}

.bubble-container {
    background: white;
    padding: 20px;
    border-radius: 16px;
    font-size: 1.7em;
    margin-bottom: 15px;
    position: relative;
    opacity: 0;
    box-shadow: -5px 4px 20px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out;
    line-height: 1.3em;

    @media (min-width: $big-width-screen) {
        padding: 15px;
        width: 95%;
    }

    @media (max-height: $smaller-screen-size) {
        padding: 10px;
    }

    &.ani-in {
        animation: moveIn 0.4s 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }

    &.ani-out {
        animation: moveOut 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }

    &:before {
        position: absolute;
        bottom: 10px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
    }

    &.from-container {
        background: $gray;
        width: 90%;

        &:before {
            left: -13px;
            border-width: 0px 15px 10px 0;
            border-color: transparent $gray transparent transparent;
        }
    }

    &.to-container {
        &:before {
            right: -13px;
            border-width: 0px 0 10px 15px;
            border-color: transparent transparent transparent white;
        }

        &.race-video__arrow-gh {
            &:before {
                border-color: transparent transparent transparent #d4c2b9;
            }
        }

        &.race-video__arrow-turf,
        &.race-video__arrow-grass {
            &:before {
                border-color: transparent transparent transparent #4d802e;
            }
        }

        &.race-video__arrow-aw,
        &.race-video__arrow-sand {
            &:before {
                border-color: transparent transparent transparent #887d69;
            }
        }
    }
}
