@import '../../styles/vars';

@keyframes slideInVerdict {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.verdict__start {
    transform: translateY(100px);
    animation: slideInVerdict 0.5s 0 ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideDownVerdict {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}

.verdict__finished {
    animation: slideDownVerdict 0.6s 1.4s ease-in;
    animation-fill-mode: forwards;
}

.verdict {
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dff0e3;
    height: 100px;
    border: 10px solid white;
    font-size: 1.4em;
    text-transform: uppercase;
    width: calc(100% + 85px);
    left: -35px;
    position: relative;
    min-height: 100px;
    box-shadow: 0px 10px 37px 11px rgba(0, 0, 0, 0.6);

    @media (max-height: $smaller-screen-size) {
        height: 85px;
        min-height: 85px;
        width: calc(100% + 30px);
        left: -15px;
    }

    @media (min-width: $big-width-screen) {
        left: -30px;
        width: calc(100% + 60px);
    }

    .verdict__odds {
        box-sizing: content-box;
        min-width: 130px;
    }

    .verdict__slanted {
        color: white;
        transform: rotate(-30deg);
        background-color: $green;
        padding: 3px 9px;
        margin: 0 20px;
        box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.7);
    }

    .verdict__postpick-gh {
        font-size: 0.8em;
        white-space: nowrap;
    }

    .verdict__postpick-horse {
        font-size: 0.5em;
        display: block;
        text-align: center;
        font-style: italic;
    }

    .verdict__postpick-gh {
        font-size: 0.8em;
        padding: 10px;
        white-space: nowrap;
    }

    .verdict__main {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
    }

    .verdict__main-gh {
        flex-direction: row;
        align-items: center;
    }

    .verdict__rp-logo {
        width: 120px;
        height: 26px;
        margin-bottom: 5px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .verdict__rp-logo-gh {
        width: 475px;
        height: auto;
        margin-left: 20px;
    }

    .verdict__rp-post-picks {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 65px;

        img {
            width: 60px;
            height: auto;
            margin: 0 20px;
        }

        span {
            font-size: 1.7em;
            white-space: nowrap;
        }
    }

    .verdict__participant {
        display: flex;

        .verdict__participant-icon {
            width: 50px;
            margin-right: 10px;

            @media (max-height: $smaller-screen-size) {
                width: 30px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }

        .verdict__participant-name {
            color: $black;
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .verdict__start-number {
        color: $black;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .verdict__icon {
        background-color: $green;
    }

    .verdict__logo {
        padding: 0 20px;
    }
}
