@import '../../styles/vars';

.book-maker {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    .book-maker_logo {
        min-width: 130px;
        min-height: 90px;
        background: $black;
        border-radius: 10px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        max-width: 100px;
        flex: 1 1 0;

        img {
            width: 90%;
        }
    }

    .book-maker_body {
        flex: 1 1 0;
    }

    strong {
        text-decoration: underline;
    }
}
